@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!DOCTYPE html>
<script type="text/javascript">
function f() {
  
}
</script>
<div class="text-center">

    <form method="post" asp-page-handler="Upload" enctype="multipart/form-data">
        <input name="file" type="file" asp-page-handler="Upload"/>
        <button type="submit">Upload</button>
    </form>

    @if (Model.Uploaded)
    {
        <p>Select the color that corresponds with the table containing your asset holdings data</p>
        <form method="post" asp-page-handler="Confirm" enctype="multipart/form-data">
            @Html.DropDownList("ConfirmList",
                new SelectList(Model.ColorList), "Select Table")
            <button type="submit">Confirm</button>
        </form>

        <div class="result">
            <img src="@Model.PhotoDataUrl" alt="Unable to open image"/>
        </div>
    }

    @if (Model.OutputDisplay)
    {
        <br/>
        <div>
            <p>Table Color: @Model.SelectedColor</p>
            <p>Selected Textract ID: @Model.BlockId</p>
            <p>All Assets</p>
            <p>@Model.Output</p>
        </div>
    }
</div>